.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 1rem;
  animation: fadeIn 0.3s ease;
}

.modalContent {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  position: relative;
  width: 880px;
  height: auto;
  max-height: 90vh;
  animation: scaleIn 0.3s ease;

  @media (max-width: 768px) {
    width: 90vw;
    height: auto;
    padding: 1.5rem;
    overflow-y: none;
    max-height: 90vh;
  }
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: none;
  border: none;
  color: #333;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0.25rem;
  line-height: 1;
  z-index: 1;
}

@media (max-width: 768px) {
  .closeButton {
      top: 0.5rem;
      right: 1rem;
  }
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}